<div class="subscription">

	<p> {% include '@assets/svg/Vector-subscription.svg'%} Скидка 200 ₽ при подписке на рассылку Издательства</p>

	<label class="subscription__g-input-search g-input-search  search-medium-none ">

		<input name="search" class="g-input-header-search" placeholder="Введите ваш Email" type="search">
	
	</label>
	<button class="g-button__read search-medium-none"> Подписаться </button> 


	{# _______________________________________________________________//  КОНЕЦ АДАПТИВА "920px"  \\_______________________________________________________________ #}

	<label class="subscription__g-input-search g-input-search search-medium-block">

		<input name="search" class="g-input-header-search" placeholder="Введите ваш Email" type="search">
	
		<button class="g-button__read"> Подписаться </button> 
	</label>



{# _______________________________________________________________//  НАЧАЛО АДАПТИВА " 920px"  \\_______________________________________________________________ #}


</div>