<div class="subscription">

	<p>Скидка 200 ₽ при подписке на рассылку Издательства</p>

	<div class="subscription__background-svg">
	</div>

	<label class="subscription__g-input-search">

		<input name="search" class="g-input-header-search" placeholder="Введите ваш Email" type="search">
	
	</label>
	<button class="g-button__read"> Подписаться </button> 

</div>