<div class="recommendations">
	<div class="recommendations__offer">
		<img src="./img/slider.png" alt="slider">
		<div class="recommendations__offer__delivery-and-discount">
			<div class="recommendations__offer__delivery-and-discount__delivery">
				<div class="recommendations__offer__delivery-and-discount__delivery__vector">
				<p> Бесплатно доставим <br>
					ваш заказ при<br>
					покупке от 2000 ₽</p>
				<img src="./img/delivery.png" alt="Logo">
			</div>
			</div>

			<div class="recommendations__offer__delivery-and-discount__discount">
				<div class="recommendations__offer__delivery-and-discount__discount__vector">
				<p> Скидка <br>
					при регистрации <br>
					до 15% 
					</p>
					<img src="./img/discount.png" alt="Logo">
				</div>
			</div>

		</div>
	</div>
	<div class="recommendations__book">
 {% include '@blocks/cards/card.twig' %}
	</div>

	
</div>