/* Mixins:
   ========================================================================== */

// mixin для медиа запросов
// пример
// .container
// {
//     padding: 0 20px;
//
//     @include mq(768px)
//     {
//         padding: 0 40px;
//     }
// }
@mixin mq($from, $to: false) {
    @if $to {
        @media (min-width: $from + 0px) and (max-width: $to + 0px) {
            @content;
        }
    }

    @else {
        @media (min-width: $from + 0px) {
            @content;
        }
    }
}
@mixin style-navigation-button($color, $weight){
	color:$color;
	font-weight:$weight;
	@extend %button-text-size;
}
@mixin style-button-and-icon-search-dynamic($width,$background,$color,$border,$radius){
	width: $width;
background-color: $background;
color: $color;
border: $border;
border-radius: $radius 5px 5px $radius;
@extend %style-button-and-icon-search-static;
}



