<div class="new-arrivals">

<div class="new-arrivals__title">

	<h2>Новые поступления</h2>

	<div class="new-arrivals__title__button-Swipe">
		<button class="g-button__Swipe-right"><img src="./svg/button-Swipe-right.svg" alt=""></button>
		<button class="g-button__Swipe-left"><img src="./svg/button-Swipe-left.svg" alt=""></button>
		</div>
</div>
		{% include '@blocks/cards/cards.twig' %}
		
		<div class="new-arrivals__show-all">

	<button class="new-arrivals__show-all-button"> Показать все книги раздела </button>

</div>
</div>