.advantage-cards
{
	font-family: 'roboto';
	max-width: 1141px;
	margin: 40px auto 0;
	display: flex;
	justify-content: space-between;
	
	
	p {margin:0 0 ;}

	img
	{
		position: absolute;
		top: 35px;
		left: 0;
		
	}

	&__card {display: flex;}
	&__card-position
	{
		width: 263px;
		height: 150px;
		display: flex;
		justify-content: space-around;
    	align-items: center;
		position: relative;
	}
	
	&__card-width
	{
		width: 0;
	}
	
	
	&__title-text
	{
		font-size: 16px;
		font-weight: 700;
		// line-height: 150;
		color: rgba(28, 41, 77, 1);
	}
	&__description-text 
	{
		font-size: 12px;
		font-weight: 400;
		color: #727272;
		line-height: 1.9;
	}

	&__card:nth-child(2)
	{

		img
	{
		position: absolute;
		top: 40px;
		left: 0;
		
	}
	}
	
	&__card:nth-child(4)
	{

		img
	{
		position: absolute;
		top: 26px;
    	left: 1px;
		
	}
	}
	&__card:nth-child(3)
	{
		.advantage-cards__offer-text
		{
			margin: 0px 0 0 32px;
    		letter-spacing: -0.4px;
    
		}
	}
	
}



//_______________________________________________________________//	НАЧАЛО АДАПТИВА  "1054px" \\_______________________________________________________________

@include media (1054px)
{
	.advantage-cards
	{

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}
//_______________________________________________________________//	КОНЕЦ АДАПТИВА   "1054px" \\_______________________________________________________________


//*************************************************************************************************************************************************************


//_______________________________________________________________//	НАЧАЛО АДАПТИВА  "527px" \\_______________________________________________________________


@include media (527px)
{
	
	.advantage-cards p {
		margin: 1px 23px;
	}

	.advantage-cards
	{

		display: flex;
		flex-direction:column;
		gap: 29px;
		margin-top: 33px;
		
		
		
		
		&__card
		{
			width:100%;
		}
		// изменил порядок элементов 
		&__card:nth-child(1)
		{
			 display: flex;
			 justify-content: center;
			 width: 100%;
			 order: 0; 
				
			 img
				 {
					 width: 130px;
					 top: 26px;
					 left: -38px;
					}
					
				}
				
				
				&__card:nth-child(2)
				{
					display: flex;
					justify-content: center;
					order: 2; 
					
					img
						{
							width: 137px;
							top: 28px;
							left: -45px;
						   }

						   .advantage-cards__title-text {
							margin: 7px 21px 0;
						}
						   
				}
					
				&__card:nth-child(3)
				{
					
					display: flex;
					justify-content: center;
					order: 0; 
					
					img
						{
							width: 130px;
							top: 27px;
							left: -39px;
							}
				}
								
				&__card:nth-child(4)
				{
					
					display: flex;
					justify-content: center;
					order: 1; 
					
					img
						{
							width: 125px;
							top: 28px;
							left: -29px;
							}
		}

	}
	
}

//_______________________________________________________________//	КОНЕЦ АДАПТИВА   "527px" \\_______________________________________________________________


//*************************************************************************************************************************************************************


//_______________________________________________________________//	НАЧАЛО АДАПТИВА  "1054px" \\_______________________________________________________________



//_______________________________________________________________//	КОНЕЦ АДАПТИВА   "1054px" \\_______________________________________________________________


