<div class="card">

	<div class="product-card">

		<div class="offer-book">

		<p class="name_block">Книга дня</p>
			
		<p class="product-card__timer">08:56:31</p>

	</div>
		<img src="./img/book-oleg.png" alt="Корпоративное право" class="product-card__image">

		<div class="product-card__info">
			<p class="product-card__title"> Корпоративное право </p>
			<p class="product-card__description">Инвестирование: способы, риски, субъекты : <br> монография</p>
			<p class="product-card__author">Майфат А.В.</p>

			<div class="product-card__price-and-discount">

				<p class="{{product-card__price}}"> 4 450 ₽</p>
			</div>

			<div class="product-card__buy-button-and-deferred">

				<a href="#" class="g-button__buy-button">
					<div><img src="./svg/orange-basket.svg" alt="">
						<p> В корзину</p>
					</div>
				</a>

				<button class="g-button__deferred deferred-margin"> <img src="./svg/deferred-icon.svg"
						alt=""></button>

			</div>

		
		</div>
	</div>
</div>
