.news
{
	font-family: 'roboto';
	max-width: 1141px;
	margin: 27px  auto;
box-sizing: border-box;
	p { margin: 0 0 0 0; }

	.new-arrivals__title
	{
		margin-bottom: 8px;
		
	}
	
	&__cards-news
	{
		display: flex;
		justify-content: center;
	}


 &__card
 {
	margin: 24px 0 0 48px;
	
 }
 
 &__border_cards
 {
	max-width: 380.4px;
	flex-grow: 1;
	border: 2px solid #e1e0df;
	border-right: none;
}

	.news__card
	 	{
	 		margin: 24px 35px;
	 	}
	 &__border_cards:nth-child(1)
	  {
	 	border-left: none;
	 	border-right: none;
		 margin-right: -11px;

		 .news__card
	 	{
			 margin-left:16px;
			 margin-right:20px;
		}
	}

	&__border_cards:nth-child(2)
	{
		padding:0 14px 0 14px;
		.news__card
		{
			margin-right:0;
			margin-left: 20px;
	 	}
	  }

	&__border_cards:nth-child(3)
	{
		
		.news__card
		{
			margin-left: 44px;
			margin-right: 0;
	 	}
	  }

	  &__card-info
	  {
		margin-top: 8px;
	  }
&__data-text
{
	font-size: 12px;	
	color:rgba(28, 41, 77, 0.5);
	;
}
&__description-text
{
	font-size: 16px;
	color: rgba(28, 41, 77, 1);
	font-weight: 500;
	line-height: 1.4;
}
&__info-text
{
	font-size: 14px;
	color: rgba(28, 41, 77, 0.5);
	padding-top: 5px;
}
.g-button__read
{
	border-color: rgba(28, 41, 77, 0.15);
	color: rgba(28, 41, 77, 1);
	margin-top:10px;
	width: 180px;
	letter-spacing: -1px;
}
}


//_______________________________________________________________//	НАЧАЛО АДАПТИВА  "1295px" \\_______________________________________________________________

.news__border_cards:nth-child(2)
	{
		@include media-display-none (1295.11px)
	}

@include media (1295px)
{
	.news
	{
		

		&__border_cards
		{	
			display: flex;
				max-width: 538px;
				width: 100% ;
			margin-inline: 1px;
		}

		&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		
		
		img 
		{
			width: 100%;
		}
	}
	.news .new-arrivals__title {
		margin-bottom: 8px;
		padding-inline: 10px;
	}
	&__border_cards:nth-child(odd) .news__card {
		
		margin-inline: 50px;
	}

	}

}

//_______________________________________________________________//	КОНЕЦ АДАПТИВА   "1295px" \\_______________________________________________________________


//*************************************************************************************************************************************************************


//_______________________________________________________________//	НАЧАЛО АДАПТИВА  " mobile " \\_______________________________________________________________

.news__border_cards:nth-child(3)
{
	@include media-display-none ($mobile)
}
@include mobile ()
{

	.news 
	{
		margin-top: 37px;
		
		&__border_cards:nth-child(odd) .news__card 
		{
			margin-inline: 18px;
		}

		&__card img 
		{
			width: 100%;
			margin-bottom: 7px;
		}

		&__description-text {
			// line-height: 1.3;
		}
	}

	.news .news__card 
	{
		margin: 17px 35px;
	}

	.news__border_cards:nth-child(1) 
	{
		border-left: none;
		border-right: none;
		margin-right: 0px;
	}
}

//_______________________________________________________________//	КОНЕЦ АДАПТИВА   " mobile " \\_______________________________________________________________


