.footer
{

&__container
{
	max-width: 1141px;
	margin: 47px auto 58px;
	display: flex;
	justify-content: flex-start;
	border-bottom: 1px solid #DFE0E1;
}
ul 
{
	flex: 1 1 165px;
	max-width: 195px;
}
&__style-title
{
	font-size: 14px;
	font-weight: 500;
	margin-bottom: 24px;
	margin-top: 0;
	text-decoration: none;
	color: rgba(28, 41, 77, 1);
	
}

&__style-text
{
	margin-bottom: 15px;
	letter-spacing: -0.4px;
	color: rgba(40, 47, 54, 0.8);
	font-size: 14px;
	text-decoration: none;

	 
	
		svg
		{
			color: red;
		}
	

}
&__Phone-and-Email
{
	a 
	{
		@include style-navigation-button(rgba(40, 47, 54, 0.8), 400, );
	}
}
&__Price-list
{
	a 
	{
		@include style-navigation-button(rgba(40, 47, 54, 0.8), 400, );
	}
	span 
	{
		font-size: 12px;
		font-weight: 400;
		line-height: 15px;
		text-align: left;
		color: rgba(40, 47, 54, 0.5);
	}

}

&__Price-list
{
	.footer__style-title
	{
		margin-bottom: 0;
	}

	.footer__style-text
	{
		line-height: 1.1;
		padding: 17px 0 0 5px;
	}
	img 
	{margin-right: 1px ;}
}

&__Phone-and-Email
{
	.footer__style-title
	{
		margin-bottom: 0;
	}

	.footer__style-text
	{
		margin: 0;
		padding: 13px 0 0 0;
	}
	.footer__style-text-nunber
	{
		letter-spacing: -0.8px;
    line-height: 0.1;
    padding: 0 0 0 0;
	}

	img 
	{margin-right: 10px ;}
}

.address-and-conditions
{
	max-width: 1141px;
	margin-bottom: 45px;
	margin-inline: auto;
	display: flex;
	justify-content: space-between;

	.Publishing
		{
			display: flex;
			justify-content: flex-start;
			
			p
			{
		color: rgba(28, 41, 77, 0.5);
		

			}
		}

		.info
		{
			display: flex;
			justify-content: space-between;
			max-width: 729px;
			flex-grow: 2;
			letter-spacing: -0.4px;
			

		}
	p
	{
		color: rgba(28, 41, 77, 0.8);
		font-size: 14px;
	
	}
}



}


//_______________________________________________________________//	НАЧАЛО АДАПТИВА  "1200px " \\_______________________________________________________________

@include media (1200px)
{
	.footer
	{
		padding-inline: 20px;
		
		
		&__container
		{
			flex-wrap: wrap;

		}

		.block-list
		{
			border-bottom: 1.5px solid #DFE0E1;
		}
	}

	.address-and-conditions
	{

		p 
		{
			margin-right: 10px;
		}
	}

}


//_______________________________________________________________//	КОНЕЦ АДАПТИВА   " 1200px " \\_______________________________________________________________


//*************************************************************************************************************************************************************


//_______________________________________________________________//	НАЧАЛО АДАПТИВА  "mobile " \\_______________________________________________________________

.footer__mobile-bl-none
{
	@include media-display-none (576.11px)
}
	// @include media-min-display-none ($mobile)
	// {}
.footer__mobile-bl-block
{

	@include media-min-display-none ($mobile)
	
}

@include mobile
{
	.footer
	{
		padding-inline: 16px 19px;

		p 
		{
			margin: 0;
			
		}
		&__container
		{
			flex-direction: column;
			border-bottom: none;
			margin: 3px auto 16px;

			.block-list
			{
				border: none;
				border-bottom: 1px solid #DFE0E1;
				height: 61px;
				letter-spacing: -0.4px;

			}
			.block-list:nth-child(1)
			{
				a
				{
					color: rgba(42, 61, 72, 1);
				}
			}

			.Price-list-img
			{
				background-image: url(#{$svg}/file.svg);
			background-position: 4px 1px ;
			}
			
		}

		&__Phone-and-Email
		{

			p 
			{
				color: rgba(28, 41, 77, 1)
			}
		}
	
		.footer__contract
		{
			border-bottom: 1px solid #DFE0E1;
			height: 90px;
				font-size: 14px;
				color: rgba(28, 41, 77, 0.5);
				padding: 22px 0 0 4px;

				p:nth-child(2)
				{
					padding-top: 6px;
				}
		}
		
		&__nunber
		{
			display: flex;
			align-items: center;
			border-bottom: 1px solid #DFE0E1;
			
			p 
			{
				font-size: 14px;
				letter-spacing: -0.9px;
			}
			
			img:nth-child(1)
			{
				margin: 0 5px 0 5px;
			}
			
			
		}
		
		
		.footr__notification
		{
			margin: 1px 0 0 7px;
		}

		&__emil
		{
			display: flex;
			align-items: center;	
			border-bottom: 1px solid #DFE0E1;

			img
			{
				margin: 0 5px 0 5px;
			}
			
			p 
			{
				font-size: 14px;
				
			}
		}

		&__address
		{
	
			a 
			{
				display: flex;
				align-items: flex-end;
				p 
				{ 
					letter-spacing: -1.5px;
					padding: 3px 0 0 3px;
				}
				img 
					{
						padding: 3px 0 0 4px;
					}

				}
			}

			&__publishing-text
			{
				font-size: 14px;
				color: rgba(28, 41, 77, 0.5);
				padding: 39px 0 0 3px;
				letter-spacing: -0.5px;
			
			}

	}
	

}


//_______________________________________________________________//	КОНЕЦ АДАПТИВА   " mobile " \\_______________________________________________________________


//*************************************************************************************************************************************************************


//_______________________________________________________________//	НАЧАЛО АДАПТИВА  "800px " \\_______________________________________________________________


//_______________________________________________________________//	КОНЕЦ АДАПТИВА   " 800px " \\_______________________________________________________________


//*************************************************************************************************************************************************************