<footer class="footer">
	<div class="footer__container">

	<ul class="footer__buyers">
		<li class="footer__style-title"><a href="#">Покупателям</a></li>
		<li class="footer__style-text"><a href="#"><p>Наша почта</p></a></li>
		<li class="footer__style-text"><a href="#"><p>Оплата и доставка</p></a></li>
		<li class="footer__style-text"><a href="#"><p>Оплата и доставка</p></a></li>
		<li class="footer__style-text"><a href="#"><p>Вопросы и ответы</p></a></li>
	</ul>

	<ul class="footer__Publishing-house">
		<li class="footer__style-title"><a href="#">Издательство</a></li>
		<li class="footer__style-text"><a href="#"><p>О компании</p></a></li>
		<li class="footer__style-text"><a href="#"><p>Авторам</p></a></li>
		<li class="footer__style-text"><a href="#"><p>Вакансии</p></a></li>
		<li class="footer__style-text"><a href="#"><p>Контакты</p></a></li>
	</ul>

	<ul class="footer__Books">
		<li class="footer__style-title"><a href="#">Книги</a></li>
		<li class="footer__style-text"><a href="#"><p>Все категории</p></a></li>
		<li class="footer__style-text"><a href="#"><p>Бестселлеры</p></a></li>
		<li class="footer__style-text"><a href="#"><p>Новинки</p></a></li>
		<li class="footer__style-text"><a href="#"><p>Скидки и акции</p></a></li>
	</ul>

	<ul class="footer__Price-list">
		<li class="footer__style-title"><a href="#">Прайс-лист</a></li>
		<li class="footer__style-text"><a href="./../../files-for-download/file-Price-list.pdf" download="Price-list"> 
			<img src="./svg/file.svg" alt=""><p>Скачать прайс-лист <br> <span>PDF, 12 Mb </span></p></a>
		</li>
	</ul>
	
	<ul class="footer__Phone-and-Email">
		<li class="footer__style-title"><a href="#">Телефон и Email</a></li>
		<li class="footer__style-text"><a href="#"> <img src="./svg/letter.svg" alt=""> <p> market@estatut.ru</p></a></li>
		<li class="footer__style-text-nunber"><a href="#"> <img src="./svg/telephone-receiver.svg" alt=""> <p>  8 (968) 660-65-50 </p></a></li>
	</ul>

	</div>
</footer>