<footer class="footer">
	<div class="footer__container">

	<ul class="footer__buyers">
		<li><a href="#"></a>Покупателям</li>
		<li><a href="#"></a>Наша почта</li>
		<li><a href="#"></a>Оплата и доставка</li>
		<li><a href="#"></a>Оплата и доставка</li>
		<li><a href="#"></a>Вопросы и ответы</li>
	</ul>

	<ul class="footer__Publishing-house">
		<li><a href="#"></a>Издательство</li>
		<li><a href="#"></a>О компании</li>
		<li><a href="#"></a>Авторам</li>
		<li><a href="#"></a>Вакансии</li>
		<li><a href="#"></a>Контакты</li>
	</ul>

	<ul class="footer__Books">
		<li><a href="#"></a>Книги</li>
		<li><a href="#"></a>Все категории</li>
		<li><a href="#"></a>Бестселлеры</li>
		<li><a href="#"></a>Новинки</li>
		<li><a href="#"></a>Скидки и акции</li>
	</ul>

	<ul class="footer__Price-list">
		<li><a href="#"></a>Прайс-лист</li>
		<li><a href="#"></a> <img src="./svg/" alt=""><p>Скачать прайс-лист</p></li>
	</ul>

	<ul class="footer__Phone-and-Email">
		<li><a href="#"></a>Телефон и Email</li>
		<li><a href="#"></a> <img src="./svg/" alt=""> market@estatut.ru</li>
		<li><a href="#"></a> <img src="./svg/" alt=""> 8 (968) 660-65-50</li>
	</ul>

	</div>
</footer>