.g-button,
input.g-button
{
	display: inline-block;
	font-size: 15px;
	line-height: 18px;
	color: #fff;
	background-color: #191C21;
	padding-top: 15px;
	padding-bottom: 15px;
	cursor: pointer;
	padding-right: 71px;
	padding-left: 71px;
	border: 0px;

	&:hover
	{
		background-color: rgba(103, 115, 135, 0.7);
	}
}

.g-button-and-icon-search
{
	@include style-button-and-icon-search-dynamic(123px, #FF7A00, #FFFFFF, none, 0);

	img
	{
		margin-right: 5px;
	}
}

.g-button__Swipe-left
{
	@extend %g-button__Swipe;
	border-radius: 0 5px 5px 0;
}

.g-button__Swipe-right
{
	@extend %g-button__Swipe;
	border-right: none;
	border-radius: 5px 0 0 5px;
}

.g-button__buy-button
{
	width: 146px;
	height: 40px;
	border: 1px solid rgba(238, 238, 238, 1);
	border-radius: 5px;
	display: flex;
	align-items: center;
	 
	div{
		display: flex;
		text-align: center;
		margin: 0 auto;
	 p
	 {
		// font-family: Roboto;
		font-size: 14px;
		font-weight: 500;
		
	 }

	 img
	 {
		width: 20px;
		margin-right: 10px;

	 }
	}
}
	.g-button__deferred
	{
		width: 40px;	
		height: 40px;
		border: 1px solid rgba(238, 238, 238, 1);
		
		img
		{
			vertical-align:middle;
			
		}
	}
	
	.g-button__read
	{
		border: 1px solid rgba(255, 255, 255, 1);
		border-radius: 5px;
		color: rgba(255, 255, 255, 1);
		width: 137px;
		height: 40px;

	}