<button class="g-button ">Button Text</button>

<button class="g-button-and-icon-search">Button Text</button> {# Кнопка поиска c иконкой #}
 
<button class="g-button__read"></button> {# Кнопка "читать" "подписаться" #}

<button class="g-button__Swipe-left"></button>	{# Кнопка переключения с иконкой стрелочки  #}
<button class="g-button__Swipe-right"></button>	{# Кнопка переключения с иконкой стрелочки  #}

{# кнопка купить с иконкой продуктовой тележкий #}
<a href="#" class="g-button__buy-button"> <div><img src="./svg/orange-basket.svg" alt=""> <p> В корзину </p> </div></a> 

<button class="g-button__deferred"> <img src="./svg/deferred-icon.svg" alt=""> </button>