<div class="get-discount">
	<div class="get-discount__container">
<div class="get-discount__logo">
 <img src="./svg/logo.svg" alt="">
</div>
 <label class="g-input-search">
	<input name="search" class="g-input-header-search" placeholder="Введите свой Email и получите скидку"
		type="search">
	<button class="g-button-and-icon-search"><img src="./svg/telegram.svg" alt=""></button>
</label>
<div class="get-discount__social-network">
<a href="#"><img src="./svg/facebook.svg" alt=""></a>
<a href="#"><img src="./svg/Instagram.svg" alt=""></a>
<a href="#"><img src="./svg/twitter.svg" alt=""></a>
</div>
</div>
</div>