<header class="header">
	<div class="continent">
		{# {% include "@assets/svg/Location-icons.svg" %} #}
	<div class="header__contact-information">
		<a href=""> <img src="./svg/Location-icons.svg" alt=""> Москва </a>
		<a href=""> <img src="./svg/box.svg" alt=""> Доставка и оплатат </a>
		<a href=""> <img src="./svg/pointer.svg" alt=""> адрес и часы работы </a>
	</div>
	<div class="header__contact-information">
		<a href=""> <img src="./svg/letter.svg" alt=""> market@estatut.ru </a>
		<a href=""> <img src="./svg/telephone-receiver.svg" alt=""> 8 (968) 660-65-50 <img src="./svg/notification.svg" alt=""></a>
	</div> 
</div>
<div class="horizontal-line"></div>
</header>