@include media(1200px)
 {
	.header
	 {
		 
		
		 &__container
		 {
			 padding-inline: 30px;	
			margin: 0 10px 0 10px;
		}

		nav 
		{
			padding-inline: 30px ;
			margin-inline: 10px;

		}
		
	}
	
}

@include desktop
 {
	.header
	 {
		padding-inline: 20px;
	}
}

@include media (940px)
 {
	.header
	 {

		// nav
		// {
			
		// }

		&__address
		 {
			@include media-display-none (940.11px)
		}

		&__address-desktop
		 {
			display: block;
			border-radius: 30px;
			width: 168px;
			text-align: center;
			height: 23px;
			border: none;
			background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 122, 0, 1));
		}

		.nav__navigation-menu-search a:not(:first-child)
		 {
			margin-left: 10px;
		}
	}
}


//_______________________________________________________________// НАЧАЛО МОБИЛЬНОЙ ВЕРСИИ \\_______________________________________________________________

.header
 {
	@include media-display-none (687px) // скрывает header при разрешении больше 687.11px
}

.mobile
 {
	@include media-min-display-none (687.11px) // скрывает мобильную часть при разрешении больше 687.11px
}


@include media (687px)
 {


	.mobile
	 {

		.horizontal-line
		{
width: 100%;
border-bottom: 1px solid #DFE0E1;
		}

		&__header
		{
		 padding-inline: 20px;
		 display: flex;
		 align-items: center;
		 justify-content: space-between;
		 height: 70px;
		}
		nav 
		{
			width: 0;
			margin: 0 0 0 0;
			padding-inline: 20px;
	}
.nav__container-logo
{
margin: 5px 0 0 15px;
	img 
	{
		width: 43.75px;
		height:35px ;
		
	}
}
		.nav__container-mobile
		 {

			width: 25px;
			height: 25px;
			opacity: 0px;
			position: relative;
			

			img
			 {
				width: 25px;
				height: 25px;
			}

			&__specify
			 {
				position: absolute;
				top: -10px;
				right: -10px;
				background: rgba(255, 122, 0, 1);
				border: none;
				border-radius: 50%;
				width: 20px;
				height: 20px;
				display: flex;
				align-items: center;
				justify-content: center;

				p
				 {
					margin: 0;
					color: white;
					font-size: 12px;
				}
			}

		}

		.g-input-search
		 {
			display: block;
			flex-grow: 2;
			max-width: 350px;
			min-width: 195px;
			position: relative;
			margin-left: 20px;
			margin-right: 16px;
			
			.g-input-header-search
			{
				border-radius: 5px;
				width: 100%;
				letter-spacing: -0.3px;
				padding-left: 13px;
				box-sizing: border-box;
			}

			.g-button-and-icon-search-mobile
			 {
				position: absolute;
				top: 7px;
				right: 15px;
				border: none;

			}
		}
	}
}

// _______________________________________________________________//   КОНЕЦ МОБИЛЬНОЙ ВЕРСИИ   \\_______________________________________________________________




// 		      _______________________________________________________________//     \\_______________________________________________________________
// 		      _______________________________________________________________//  К  \\_______________________________________________________________
// 		      _______________________________________________________________//     \\_______________________________________________________________
// 		      _______________________________________________________________//  О  \\_______________________________________________________________
// 		      _______________________________________________________________//     \\_______________________________________________________________
// 		      _______________________________________________________________//  Н  \\_______________________________________________________________
// 		      _______________________________________________________________//     \\_______________________________________________________________
// 		      _______________________________________________________________//  Ц  \\_______________________________________________________________
// 		      _______________________________________________________________//     \\_______________________________________________________________
// 		      _______________________________________________________________//  Е  \\_______________________________________________________________
// 		      _______________________________________________________________//     \\_______________________________________________________________
// 		      _______________________________________________________________//  Р  \\_______________________________________________________________
// 		      _______________________________________________________________//     \\_______________________________________________________________
// 		      _______________________________________________________________//  Т  \\_______________________________________________________________
// 		      _______________________________________________________________//     \\_______________________________________________________________
// 		      _______________________________________________________________//     \\_______________________________________________________________
// 		      _______________________________________________________________//  ф  \\_______________________________________________________________
// 		      _______________________________________________________________//     \\_______________________________________________________________
// 		      _______________________________________________________________//  æ  \\_______________________________________________________________
// 		      _______________________________________________________________//     \\_______________________________________________________________
// 		      _______________________________________________________________//  ц  \\_______________________________________________________________
// 		      _______________________________________________________________//     \\_______________________________________________________________
// 		      _______________________________________________________________//  и  \\_______________________________________________________________
// 		      _______________________________________________________________//     \\_______________________________________________________________
	
